.navbar-brand img {
  max-height: 40px;
}

section {
  padding-top: 100px;
  margin-top: -100px;
}

.hidden {
  display: none;
}

.btn {
  text-decoration: underline;
  color: #0000ee;
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  outline: 2px solid #0056b3;
  text-decoration: underline;
  color: #0056b3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

/* Show the overlay */
.overlay.visible {
  display: block;
}

#modalOpenBtn {
  cursor: pointer;
}

#modalOpenBtn:focus,
#modalOpenBtn:hover {
  background-color: #ffffff;
  text-decoration: underline;
  color: #5906ff;
}

#dialog1 {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
}

#dialog1 h2 {
  text-align: center;
}

#dialog1 .dialog_form_actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

/* Email preferences switch code */

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

label[for="event-description"] {
  display: block;
  margin-bottom: 5px;
}

#submit-schedule-call {
  border: 1px solid #000000;
  width: 150px;
}
#submit-schedule-call:hover,
#submit-schedule-call:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

.switch-container {
  display: flex;
  align-items: center;
  gap: 12px;
  height: auto;
}

.switch {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 60px;
  height: 30px;
}

.switch:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

.switch svg {
  width: 100%;
  height: 100%;
}

/* Hide the SVG that's not in use */
.switch[aria-checked="true"] .switch-off,
.switch[aria-checked="false"] .switch-on {
  display: none;
}

#icon {
  position: relative;
  width: 100px;
}

fieldset {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}
legend {
  margin: 0;
  padding: 0;
  width: auto;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.menubar-navigation {
  margin: 0;
  padding: 2px;
  font-size: 110%;
  list-style: none;
}

.menubar-navigation li {
  margin: 0;
  padding: 0;
  border: 0 solid black;
  list-style: none;
}

.menubar-navigation > li {
  display: inline-block;
  position: relative;
}

.menubar-navigation > li li {
  display: block;
}

.menubar-navigation > li > [role="menuitem"] {
  display: inline-block;
  margin: 2px;
  padding: 4px;
  padding-bottom: 8px;
  border: 0 solid #eee;
  color: rgba(255, 255, 255, 0.7);
}
.menubar-navigation li a:hover,
.menubar-navigation li a:focus {
  text-decoration: underline;
}

.menubar-navigation li a {
  color: rgba(255, 255, 255, 0.7); /* Default color */
}

.menubar-navigation li a.active {
  color: rgba(255, 255, 255, 1); /* White color when active */
}

.dialog_form_actions button {
  color: #ffffff;
}

@media (max-width: 470px) {
  main {
    padding-top: 10%;
  }
}
