.navbar-brand img {
  max-height: 40px;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: none;
}

/* Show the overlay */
.overlay.visible {
  display: block;
}

#dialog1 {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 5;
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
}

#dialog1 h2 {
  text-align: center;
}

#dialog1 .dialog_form_actions {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
/* Schedule a call*/
fieldset {
 
  border: 2px solid black; 
  padding: 10px;
  margin-bottom: 20px; 
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #2196F3;
}
input:checked + .slider:before {
    transform: translateX(26px);
}

/*end Schedule a call*/